In [1]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [18]:
# Read the CSV files into DataFrames.
df_atheletic_sales_2020 = pd.read_csv("athletic_sales_2020.csv")
df_atheletic_sales_2021 = pd.read_csv("athletic_sales_2021.csv")

In [21]:
# Display the 2020 sales DataFrame
print(df_atheletic_sales_2020)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299     12/30/20       West    California
1293    West Gear      1128299     12/30/20       West    California
1294       Kohl's      1189833     12/30/20    Midwest     Minnesota
1295       Kohl's      1189833     12/30/20    Midwest     Minnesota
1296    West Gear      1128299     12/30/20       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
1292        14616           3946.32       Online
1293       560000          84000.00       Outlet
1294         4879           2878.61       Online
1295       213750          96187.50       Outlet
1296        15190           2886.10       Outlet

[1297 rows x 12 columns]

In [22]:
# Display the 2021 sales DataFrame
print(df_atheletic_sales_2021)

         retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          487500         121875.00       Outlet
1           11883           3208.41       Outlet
2          137500          82500.00       Outlet
3            3619           2714.25       Online
4           14400           5184.00       Online
...           ...               ...          ...
8341         2961           1362.06       Online
8342         2576           1004.64       Outlet
8343         1872            692.64       Online
8344        68750          17187.50       Outlet
8345       122500          42875.00       Outlet

[8346 rows x 12 columns]

#### Check the data types of each DataFrame

In [23]:
# Check the 2020 sales data types.
print(df_atheletic_sales_2020.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [26]:
# Check the 2021 sales data types.
print(df_atheletic_sales_2021.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [30]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
df_combined_sales = pd.concat([df_atheletic_sales_2020, df_atheletic_sales_2020], axis=0)
df_combined_sales = df_combined_sales.reset_index(drop=True)
print(df_combined_sales)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
2589    West Gear      1128299     12/30/20       West    California
2590    West Gear      1128299     12/30/20       West    California
2591       Kohl's      1189833     12/30/20    Midwest     Minnesota
2592       Kohl's      1189833     12/30/20    Midwest     Minnesota
2593    West Gear      1128299     12/30/20       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
2589  San Francisco          Women's Apparel              72         203
2590  San Francisco          Women's Apparel              80         700
2591    Minneapolis  Women's Street Footwear              41         119
2592    Minneapolis  Women's Street Footwear              45         475
2593  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
2589        14616           3946.32       Online
2590       560000          84000.00       Outlet
2591         4879           2878.61       Online
2592       213750          96187.50       Outlet
2593        15190           2886.10       Outlet

[2594 rows x 12 columns]

In [35]:
# Check if any values are null.
has_nulls = df_combined_sales.isnull().any().any()
print(has_nulls)

False

In [36]:
# Check the data type of each column
print(df_combined_sales.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [40]:
# Convert the "invoice_date" to a datetime datatype
df_combined_sales["invoice_date"] = pd.to_datetime(df_combined_sales["invoice_date"])
print(df_combined_sales)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732   2020-01-01  Northeast      New York
1     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
2     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
3     Foot Locker      1185732   2020-01-01  Northeast      New York
4     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
2589    West Gear      1128299   2020-12-30       West    California
2590    West Gear      1128299   2020-12-30       West    California
2591       Kohl's      1189833   2020-12-30    Midwest     Minnesota
2592       Kohl's      1189833   2020-12-30    Midwest     Minnesota
2593    West Gear      1128299   2020-12-30       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
2589  San Francisco          Women's Apparel              72         203
2590  San Francisco          Women's Apparel              80         700
2591    Minneapolis  Women's Street Footwear              41         119
2592    Minneapolis  Women's Street Footwear              45         475
2593  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
2589        14616           3946.32       Online
2590       560000          84000.00       Outlet
2591         4879           2878.61       Online
2592       213750          96187.50       Outlet
2593        15190           2886.10       Outlet

[2594 rows x 12 columns]

In [41]:
# Confirm that the "invoice_date" data type has been changed.
print(df_combined_sales.dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [87]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
df_sorted_group = df_combined_sales.groupby(["region", "state", "city"]).size().reset_index(name="Total_Products_Sold")


# Show the top 5 results.
df_sorted_group = df_sorted_group.sort_values(by="Total_Products_Sold", ascending=False)
top_5_results = df_sorted_group.head(5)
print(top_5_results)

      region     state       city  Total_Products_Sold
1  Northeast  New York   New York                  432
3      South     Texas    Houston                  432
7       West    Nevada  Las Vegas                  432
4  Southeast   Florida      Miami                  288
6       West  Colorado     Denver                  288

#### Using `pivot_table`

In [98]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
pivot_table = df_sorted_group.pivot_table(index=["region", "state", "city"], aggfunc="size")
pivot_table.rename({"units_sold": "Total_Products_Sold"}, inplace=True)

# Show the top 5 results.
pivot_table = pivot_table.reset_index()
top_5_results = pivot_table.sort_values(by=pivot_table.columns[0], ascending=False).head(5)
print(top_5_results)

      region       state           city  0
5       West  California  San Francisco  1
6       West    Colorado         Denver  1
7       West      Nevada      Las Vegas  1
8       West  Washington        Seattle  1
4  Southeast     Florida          Miami  1

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [111]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
grouped_sales = df_combined_sales.groupby(["region", "state", "city"])["total_sales"].sum().reset_index()
grouped_sales.rename(columns={"total_sales": "Total Sales"}, inplace=True)

# Show the top 5 results.
sorted_grouped_sales = grouped_sales.sort_values(by="Total Sales", ascending=False)
top_5_results = sorted_grouped_sales.head(5)
print(top_5_results)

      region       state      city  Total Sales
1  Northeast    New York  New York     79602470
4  Southeast     Florida     Miami     63201726
8       West  Washington   Seattle     52661436
3      South       Texas   Houston     50913764
6       West    Colorado    Denver     41993072

#### Using `pivot_table`

In [143]:
# Show the total sales for the products sold for each region, state, and city.
pivot_table = grouped_sales.pivot_table(index=["region", "state", "city"], aggfunc="sum")


# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table.rename({"total_sales": "Total_Sales"}, inplace=True)

# Show the top 5 results.
top_5_results = pivot_table.head(5)
print(top_5_results)

                                     Total Sales
region    state        city
Midwest   Minnesota    Minneapolis      14455012
Northeast New York     New York         79602470
          Pennsylvania Philadelphia      1896948
South     Texas        Houston          50913764
Southeast Florida      Miami            63201726

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [149]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
grouped_sales = df_combined_sales.groupby(["retailer", "region", "state", "city"])["total_sales"].sum().reset_index()
grouped_sales.rename(columns={"total_sales": "Total Sales"}, inplace=True)
# Show the top 5 results.
sorted_grouped_sales = grouped_sales.sort_values(by="Total Sales", ascending=False)
top_5_results = sorted_grouped_sales.head(5)
print(top_5_results)

       retailer     region       state       city  Total Sales
1   Foot Locker  Northeast    New York   New York   50017136.0
17    West Gear       West  Washington    Seattle   49725350.0
15    West Gear       West    Colorado     Denver   41993072.0
16    West Gear       West      Nevada  Las Vegas   41717018.0
10      Walmart      South       Texas    Houston   38345990.0

#### Using `pivot_table`

In [153]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot_table = grouped_sales.pivot_table(index=["region","retailer", "state", "city"], aggfunc="sum")

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table.rename({"total_sales": "Total Sales"}, inplace=True)

# Show the top 5 results.
top_5_results = pivot_table.head()
print(top_5_results)

                                                   Total Sales
region    retailer      state        city
Midwest   Foot Locker   Minnesota    Minneapolis    13239130.0
          Kohl's        Minnesota    Minneapolis     1215882.0
Northeast Foot Locker   New York     New York       50017136.0
                        Pennsylvania Philadelphia     432586.0
          Sports Direct New York     New York        2161324.0

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [157]:
# Filter the sales data to get the women's athletic footwear sales 
womens_athletic_footwear_sales = df_combined_sales[df_combined_sales["product"] == "Women's Athletic Footwear"]
print (womens_athletic_footwear_sales)

         retailer  retailer_id invoice_date     region         state  \
21    Foot Locker      1185732   2020-01-04  Northeast      New York
22    Foot Locker      1185732   2020-01-04  Northeast      New York
23    Foot Locker      1185732   2020-01-04  Northeast      New York
26      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
27      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
2565  Foot Locker      1185732   2020-12-25    Midwest     Minnesota
2568  Foot Locker      1185732   2020-12-25    Midwest     Minnesota
2579    West Gear      1128299   2020-12-28       West    California
2580    West Gear      1128299   2020-12-28       West    California
2581    West Gear      1128299   2020-12-28       West    California

               city                    product  price_per_unit  units_sold  \
21         New York  Women's Athletic Footwear              36         281
22         New York  Women's Athletic Footwear              41         247
23         New York  Women's Athletic Footwear              45         850
26     Philadelphia  Women's Athletic Footwear              45         300
27     Philadelphia  Women's Athletic Footwear              34          90
...             ...                        ...             ...         ...
2565    Minneapolis  Women's Athletic Footwear              45         175
2568    Minneapolis  Women's Athletic Footwear              44          49
2579  San Francisco  Women's Athletic Footwear              60         625
2580  San Francisco  Women's Athletic Footwear              48         188
2581  San Francisco  Women's Athletic Footwear              54         188

      total_sales  operating_profit sales_method
21        10116.0           3742.92       Outlet
22        10127.0           4658.42       Online
23       382500.0         133875.00     In-store
26       135000.0          47250.00       Outlet
27         3060.0           1254.60       Outlet
...           ...               ...          ...
2565      78750.0          27562.50       Outlet
2568       2156.0           1056.44       Online
2579     375000.0         112500.00       Outlet
2580       9024.0           3068.16       Outlet
2581      10152.0           4162.32       Online

[428 rows x 12 columns]

#### Using `groupby`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
grouped_sales = womens_athletic_footwear_sales.groupby(["retailer", "region", "state", "city"])["units_sold"].sum().reset_index()
grouped_sales.rename(columns={"units_sold": "Womens_Footwear_Units_Sold"})
# Show the top 5 results.
sorted_grouped_sales = grouped_sales.sort_values(by="Womens_Footwear_Units_Sold", ascending=False)
top_5_results = sorted_grouped_sales.head(5)
print(top_5_results)

#### Using `pivot_table`

In [174]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
pivot_table = womens_athletic_footwear_sales.pivot_table(
    index=["region", "retailer", "state", "city"],
    values="units_sold",
    aggfunc="sum"
)
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_table.rename(columns={'units_sold': 'Total_Units_Sold'}, inplace=True)

# Show the top 5 results.
pivot_table_df = pivot_table.reset_index()
sorted_pivot_table_df = pivot_table_df.sort_values(by="Total_Units_Sold", ascending=False)
top_5_results = sorted_pivot_table_df.head(5)
print(top_5_results)

       region     retailer       state       city  Total_Units_Sold
1   Northeast  Foot Locker    New York   New York             21992
6       South      Walmart       Texas    Houston             17432
14       West    West Gear      Nevada  Las Vegas             14154
15       West    West Gear  Washington    Seattle             11618
13       West    West Gear    Colorado     Denver             11394

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [177]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
pivot_table = df_combined_sales.pivot_table(
    index="invoice_date",
    values="total_sales",
    aggfunc="sum"
)

# Optional: Rename the "total_sales" column to "Total Sales"


# Show the table.
print(pivot_table)

              total_sales
invoice_date
2020-01-01      1690282.0
2020-01-02      1378820.0
2020-01-03      1265146.0
2020-01-04      1230160.0
2020-01-05      1415658.0
...                   ...
2020-12-26      1121956.0
2020-12-27      1331064.0
2020-12-28      1128468.0
2020-12-29      1153796.0
2020-12-30      1616870.0

[358 rows x 1 columns]

In [179]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales = pivot_table.resample("D").sum()

# Sort the resampled pivot table in descending order on "Total Sales".
sorted_daily_sales = daily_sales.sort_values(by="total_sales", ascending=False)
print(sorted_daily_sales)

              total_sales
invoice_date
2020-04-24     14101964.0
2020-05-24      7172882.0
2020-04-27      2608050.0
2020-04-19      2604690.0
2020-02-06      2537736.0
...                   ...
2020-10-16            0.0
2020-10-13            0.0
2020-10-11            0.0
2020-02-29            0.0
2020-10-14            0.0

[365 rows x 1 columns]

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [181]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = pivot_table.resample("W").sum()

# Sort the resampled pivot table in descending order on "Total Sales".
sorted_weekly_sales = weekly_sales.sort_values(by="total_sales", ascending=False)
print(sorted_weekly_sales)

              total_sales
invoice_date
2020-04-26     26331646.0
2020-05-03     14699084.0
2020-03-15     13439494.0
2020-09-13     13019306.0
2020-02-09     12469902.0
2020-05-24     11836642.0
2020-03-08     11543130.0
2020-02-02     10706378.0
2020-08-23     10462180.0
2020-08-02     10206778.0
2020-08-09      9734020.0
2020-01-26      9663644.0
2020-09-20      9637046.0
2020-08-16      9572676.0
2020-04-19      9475424.0
2020-05-10      8518702.0
2020-07-26      7978716.0
2020-07-05      7523482.0
2020-12-27      7313400.0
2020-07-12      7151674.0
2020-01-05      6980066.0
2020-07-19      6923086.0
2020-11-01      6673476.0
2020-11-15      6511852.0
2020-10-04      6510802.0
2020-02-16      6470248.0
2020-09-27      6230190.0
2020-11-08      5974412.0
2020-03-22      5963032.0
2020-10-25      5947650.0
2020-10-11      5796908.0
2020-01-12      5675692.0
2020-08-30      5661898.0
2020-09-06      5506218.0
2020-06-28      5478346.0
2020-02-23      4650150.0
2021-01-03      3899134.0
2020-04-05      3809578.0
2020-05-17      3638836.0
2020-06-14      3604144.0
2020-06-21      3573746.0
2020-03-01      3541590.0
2020-05-31      3255560.0
2020-04-12      2981690.0
2020-06-07      2963010.0
2020-01-19      2821276.0
2020-03-29      2402898.0
2020-11-29      2048840.0
2020-11-22      1855210.0
2020-12-06      1479346.0
2020-12-20      1180454.0
2020-12-13       932644.0
2020-10-18       502936.0